* {
    margin: 0px;
    padding: 0px;
}

:root {
    --rotateSpeed: 5s;
}
body {
    background: black;
    min-height: 100vh;
    font-size: 50px;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 100vh;
    width: 100vw;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
    transform-style: preserve-3d;
}

@keyframes sceneRotate {
    to {transform: rotateY(360deg); }
}   

.tv {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#front, #back{
    position: absolute;
    background: gray;
    height: 2em;
    width: 2em;
    border: 1px solid black;
}
#behind{
    position: absolute;
    background: gray;
    height: 1em;
    width: 1em;
    border: 1px solid black;
}
#left, #right {
    position: absolute;
    background: gray;
    height: 2em;
    width: 1em;
    border: 1px solid black;
}
#top, #bottom {
    position: absolute;
    background: gray;
    height: 1em;
    width: 2em;
    border: 1px solid black;
}

#front{
    transform: rotateY(0deg) translateZ(.5em);
}
#back{
    transform: rotateY(180deg) translateZ(.5em);
}
#left{
    transform: rotateY(270deg) translateZ(1em);
}
#right{
    transform: rotateY(90deg) translateZ(1em);
}
#top{
    transform: rotateX(90deg) translateZ(1em);
}
#bottom{
    transform: rotateX(270deg) translateZ(1em);
}
#behind{
    transform: rotateY(180deg) translateZ(1.5em);
}
