* {
    margin: 0px;
    padding: 0px;
}

:root {
    --rotateSpeed: 10s;
}
body {
    background: #294D4A;
    min-height: 100vh;
    font-size: 50px;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 100vh;
    width: 100vw;
    
    animation: sceneRotate var(--rotateSpeed) infinite linear;
    transform-style: preserve-3d;
}

@keyframes sceneRotate {
    to {transform: rotateY(360deg); }
}   

.tv {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#front, #back{
    position: absolute;
    background: gray;
    height: 2em;
    width: 2em;
    border: 1px solid black;
}
#behind{
    position: absolute;
    background: gray;
    height: 1em;
    width: 1em;

}
#left, #right {
    position: absolute;
    background: gray;
    height: 2em;
    width: 1em;
    border: 1px solid black;
}
#top, #bottom {
    position: absolute;
    background: gray;
    height: 1em;
    width: 2em;
    border: 1px solid black;
}
.t, .b{
    position:absolute;
    height: 0em;
    width: 1em;
    border-bottom: 1em solid rgb(235, 95, 95);
    border-left: .1em solid transparent; 
    border-right: .1em solid transparent;

}
.l, .r{
    position:absolute;
    height: 0em;
    width: 1em;
    border-bottom: 1em solid rgb(82, 42, 42);
    border-left: .17em solid transparent; 
    border-right: .17em solid transparent;
}
#front{
    transform: rotateY(0deg) translateZ(.5em);
}
#back{
    transform: rotateY(180deg) translateZ(.5em);
}
#left{
    transform: rotateY(270deg) translateZ(1em);
}
#right{
    transform: rotateY(90deg) translateZ(1em);
}
#top{
    transform: rotateX(90deg) translateZ(1em);
}
#bottom{
    transform: rotateX(270deg) translateZ(1em);
}
#behind{
    transform: rotateY(180deg) translateZ(1.5em);
}
/* Back part of the TV */
.t{
    transform: rotateX(100deg) translateY(-.89em) translateZ(.75em)
}
.b{
    transform: rotateX(80deg) translateY(-.89em) translateZ(-.75em)
}
.l{
    transform: rotateZ(-90deg) rotateX(96deg) translateY(-.95em) translateZ(.65em);
}
.r{
    transform: rotateZ(90deg) rotateX(96deg) translateY(-.95em) translateZ(.65em);
}
